/* .wrapper {
    display: flex;
    align-items:baseline ;
    justify-content: center;
} */

.edu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 11%;
    padding-right: 11%;
    align-items: center;
    /* margin-top: 6vh; */
    /* height: 35vh;     */
    margin: 5vh;
}

.henry-pic {
    height: 100%;
}

.logo {
    border-radius: 100%;
    height: auto;
    max-width: 100%;
    /* width: 9vw; */
    
}

.henry-content {
    height: 100%;
    padding-left: 5%;
    line-height: 75%;
    font-weight: light;
    font-family: Ubuntu;
    text-align: start;
    letter-spacing: 0.5px;
}

.list {
    text-align: start;
    padding-top: 2%;
    line-height: 22px;
    font-size: 17px;
    letter-spacing: 1px;
}

