.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    text-align: center;
    min-height: 100vh;
    /* background-image: url('./wp2856135.gif'); */
    /* background-image: url(https://wallpapercave.com/wp/wp2856135.gif); */
    background-color: #181818;
}

.text {
    width: 40vw;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: lighter;
    display: inline-block;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    
}
/* .text:hover {
    padding-bottom: 18px;
    transition-duration: 0.5s;
} */

.l {
    transition-duration: 0.5s;
}

.l:hover {
    text-shadow: crimson;
    text-decoration: crimson;
    transition-duration: 0.5s;
    /* color: crimson; */
}

.juan {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: rgba(255, 0, 157, 0.753);
    
    
}

.button {
    width: 20%;
    border-width: 1px;
    margin-top: 2vh;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.button-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: white;
    
}

.particles {
    position: absolute;
    top: 0px;
}

/* .particles2 {
    position: absolute;
    
}

.particles3 {
    position: absolute;
    
}

 */

.particles4 {
    position: absolute;
    bottom: 0px;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border-style: solid; */
}

.title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: white; */    
    position: relative;
}


.mid {
    position: absolute;
    left: 5%;
    /* margin-left: 40px; */
    /* border-style: solid; */

}

.mid2 {
    position: absolute;
    right: 5%;
    /* border-style: solid; */
}

