.nav {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    padding-right: 40%;
    height: 5.5vh;
    background-color: #202020;
    color: white;
    z-index: 10;
    font-family: 'Raleway', sans-serif;
}

.cv {
    color: white;
    transition: 0.3s ease;
}

.cv:hover {
    color: rgba(255, 0, 157, 0.753);
    cursor: pointer;
}


.buttons {
    transition: 0.3s ease;
}

.buttons:hover {
    color: rgba(255, 0, 157, 0.753);
    cursor: pointer;
}


@media (min-width: 1440px) and (max-width: 1919px) {
    .nav {
        width: 30vw;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .nav {
        width: 30vw;
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .nav {
        padding-right: 0%;
        width: 45vw;
        height: 5vh;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .nav {
        padding-right: 0%;
        width: 70vw;
        height: 5vh;
        font-size: 12px;
    }
}