.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 42vh;
    padding-right: 40%;
    height: 5.5vh;
    background-color: #282828;
    color: white;
}

.buttons {
    transition: 0.5s ease;
}

.buttons:hover {
    color: rgba(255, 0, 157, 0.753);
    cursor: pointer;
}