.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 42vh;
    padding-right: 40%;
    height: 5.5vh;
    background-color: #282828;
    color: white;
}